:root {
    --bg-button: #2A3647;
    --bg-addtask: #F6F7F8;
    --tx-color: #2A3647;
    --invalid-color: #D1D1D1;
    --warning-color: #FF8190;
}


body {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}


h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    line-height: 120%;
}


button {
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
}


.d-none {
    display: none;
}


.addTask {
    width: 968px;
    height: 806px;
    border-radius: 30px;
    margin: 16px 60px;
    padding-top: 64px;
    padding-left: 74px;
    padding-right: 74px;
    border: 1px solid #D1D1D1;
    background-color: var(--bg-addtask);
    color: var(--tx-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.formAddTask {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}


.formInput {
    display: flex;
    justify-content: space-between;
    width: 968px;
    height: 424px;
    justify-items: center;
}


.leftSide {
    width: 440px;
    height: 376px;
    display: flex;
    flex-direction: column;
}


.divider {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
}


.rightSide {
    width: 440px;
    height: 416px;
    display: flex;
    flex-direction: column;
}


.footArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
}


.footArea p {
    font-size: 16px;
    font-weight: 400;
    text-align: bottom;
    margin-bottom: 0;
}


.btnAddTask {
    display: flex;
    gap: 16px;
}


.activeBtn {
    background-color: var(--bg-button);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    font-weight: 700;
    font-size: 21px;
    width: 183px;
    gap: 8px;
}


.createContactBtn {
    background-color: var(--bg-button);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    font-weight: 700;
    font-size: 21px;
    width: 100%;
    gap: 8px;
}


.cancelBtn {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--tx-color);
    background-color: white;
    width: 126px;
    border: 1px solid #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}


input,
textarea,
select {
    padding: 12px 16px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;  
}


input:focus,
textarea:focus,
select:focus,
#assignedTo:focus {
    border-color: var(--warning-color) !important;
}


::placeholder {
    color: #D1D1D1;
    opacity: 1;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}


.inputField {
    margin-top: 8px;
    padding: 8px 12px;
    position: relative;
    height: 32px;
}


.inputField:invalid {
    color: var(--invalid-color);
}


#description {
    height: 120px;
}


#assignedTo {
    margin-top: 8px;
    padding: 8px 12px;
    position: relative;
    height: 48px;
    color: var(--invalid-color);
  }
  

/*Sternchen nach den requiered Feldern setzen */
.required:after {
    content: "*";
    color: var(--warning-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0em;
    text-align: left;
}


.warning {
    font-size: 12px;
    color: red;
}


.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    width: 100%;
}


.button-container button {
    width: 30%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}


.svg-white {
    fill: rgb(255, 255, 255);
}

.urgent {
    background-color: #FF3D00;
    color: white !important;
}

.medium {
    background-color: #FFA801;
    color: white !important;
}

.low {
    background-color: #7BE22A;
    color: white !important;
}

.white {
    background-color: white;
    color: var(--tx-color);
}