:root {
    --bg-button: #2A3647;
    --bg-addtask: #F6F7F8;
    --tx-color: #2A3647;
    --invalid-color: #D1D1D1;
    --warning-color: #FF8190;
    --focus-color: #29ABE2;
    --icon-hover: #A8A8A8;
    --bg-hover: #091931;
}


body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}


h3 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
    line-height: 120%;
}


button {
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
}


.d-none {
    display: none;
}


.taskOverlay{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 999;    
}


.option-container {
    display: inline-flex; 
}


.option-container img{
    width: 16px; 
    height: 16px;
    fill: var(--tx-color); 
}


.dialogAddTask{
    background-color: #FFF;
    padding: 16px 74px;
    border: 1px solid var(--icon-hover);
    border-radius: 30px;
    width:70%;
    max-height: 100vh;
    max-width: 960px;
    min-height: calc(100vh - 110px);
    overflow-y: auto;
    position: relative;
}


#closeOverlay {
    cursor: pointer;
    position: absolute;
    height: 40px;
    top: 32px;
    right: 32px;
}


.addTask {
    max-width: 968px;
    min-height: calc(100vh - 124px);
    padding-top: 16px;
    padding-left: 74px;
    padding-right: 74px;
    background-color: var(--bg-addtask);
    color: var(--tx-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: 232px;
    margin-top: 96px;
    overflow-y: auto;
}


.formAddTask {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}


.formInput {
    display: flex;
    justify-content: space-between;
    max-width: 968px;
    min-height: 424px;
    justify-items: center;
}


.leftSide {
    max-width: 440px;
    min-height: 376px;
    display: flex;
    flex-direction: column;
}


.divider {
    height: 424px;
    width: 1px;
    background-color: var(--invalid-color);
}


.rightSide {
    max-width: 440px;
    min-height: 416px;
    display: flex;
    flex-direction: column;
}


.footArea, .footAreaOverlay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 48px;
}


.footArea p, .footAreaOverlay p {
    font-size: 16px;
    font-weight: 400;
    text-align: bottom;
    margin-bottom: 0;
}


.btnAddTask {
    display: flex;
    gap: 16px;
}


.activeBtn {
    background-color: var(--bg-button);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    font-weight: 700;
    font-size: 21px;
    width: 183px;
    gap: 8px;
}

.activeBtn:hover  {
    background-color: #29ABE2;
}

.createContactBtn:hover {
    background-color: #29ABE2;
}

.createContactBtn {
    background-color: var(--bg-button);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    font-weight: 700;
    font-size: 21px;
    width: 100%;
    gap: 8px;
}


.cancelBtn {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--tx-color);
    background-color: white;
    width: 126px;
    border: 1px solid var(--bg-button);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.cancelBtn:hover {
    color: var(--focus-color);
    border: 1px solid var(--focus-color);
}

.cancelBtn:hover img {
    filter: invert(53%) sepia(35%) saturate(885%) hue-rotate(153deg) brightness(102%) contrast(103%);
}

/* Input Felder */
input,
textarea,
select {
    padding: 12px 16px;
    background-color: #fff;
    border: 1px solid var(--invalid-color);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

  
input:hover,
textarea:hover,
select:hover {
    cursor: pointer;
}

.subtaskContainer {
    background-color: #fff;
    border: 1px solid var(--invalid-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}


#subtask {
    border: none;
    padding: 0;
}


input:focus,
textarea:focus,
select:focus,
#assignedTo:focus {
    border-color: var(--focus-color) !important;
    outline: none;
}


::placeholder {
    color: #D1D1D1;
    opacity: 1;
}


.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}


.inputField {
    margin-top: 8px;
    padding: 8px 12px;
    height: 32px;
}


#description {
    height: 120px;
}


.custom-select {
    appearance: none;
    margin-top: 8px;
    padding: 12px 16px;
    position: relative;
    height: 32px;
    background-image: url('../assets/img/arrow_drop_downaa.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) center;
    background-size: 32px;
}


#category {
    width: 100%;
    height: 48px;
}

#newCategory {
    outline: none;
    border: none;
}


.markText {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}


.assignedToContainer {
    background-color: #fff;
    height: 200px;
    z-index: 1;
    width: 440px;
    overflow: auto;
    position: absolute;
    margin-top: 96px;
}


#assignedToContact {
    overflow-y: auto;
    background-color: #fff;
    height: 140px;
    width: 440px;
    display: flex;
    flex-direction: column;
}


#showAssignedContacts {
    padding: 7px 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
   flex-wrap: wrap;
}


.extra-margin {
    margin-right: -20px;
}


.contactLine {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    padding: 7px 16px;
    margin-top: 2px;
}

.contactLine:hover {
    border-radius: 10px;
    background: #EEE;
}

.checked {
    background-color: var(--bg-button);
    color: #fff;
    border-radius: 10px;
}

.checked:hover {
    background-color: var(--bg-hover);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.contacticon {
    border-radius: 45px;
    color: #fff;
    width: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    padding: 4px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#dueDate {
    appearance: none !important;
    background-color: #fff;
    background-image: url('../assets/img/event.svg') !important;
    background-position: calc(100% - 16px) center;
    background-size: 32px;
    background-repeat: no-repeat !important;
    background-position-x: calc(96%) !important;
    background-position-y: center !important;
    padding: 8px 16px;
    border: 1px solid var(--invalid-color);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}



/*Sternchen nach den requiered Feldern setzen */
.required:after {
    content: "*";
    color: var(--warning-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0em;
    text-align: left;
}


.invisible {
    color: var(--bg-addtask);
}


.warning {
    font-size: 12px;
    color: var(--warning-color);

}


.warning-border {
    border-color: var(--warning-color) !important;
}


.dot {
    width: 6px;
    height: 6px;
}


.savedSubtasks {
    font-size: 16px;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    transition: 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 220px;
}


.subtaskItem,
.editItem {
    padding: 0 21px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
}


.subtaskItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}


.editItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}


.subtaskLine {
    display: flex;
}


.subtaskItem:hover {
    background-color: var(--icon-hover);
    border-radius: 8px;
}


.subtaskEdit {
    display: none !important;
}


.subtaskItem:hover .subtaskEdit {
    display: flex !important;
}


.editItem {
    border-bottom: 1px solid var(--focus-color);
    background-color: #fff;
}


.editItem:hover {
    background-color: #fff;
    border-radius: 0px;
}


.editTaskInput {
    background: transparent !important;
    border: none !important;
    flex: 1 !important;
    border-bottom: 1px solid var(--focus-color) !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1.4em !important;
    font-size: 16px !important;
    width: 99%;
    color: black !important;
    height: 32px;
    border-radius: 0 !important;
}


.editItemIcons {
    display: flex;
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
    gap: 16px;
}


.button-container button {
    width: 30%;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

/* button-container button:hover  */
.white {
    background-color: white;
    border: 1px solid  var(--invalid-color) !important;
    color: var(--tx-color) !important;
}


.white img {
    filter : brightness(100%) invert(0);
}


.white:hover {
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.urgent {
    background-color: #FF3D00;
    border: 1px solid #FF3D00 !important;
    color: white !important;
}


.urgent img {
  filter : brightness(0%) invert(1);
}


.urgent:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.medium {
    background-color: #FFA800;
    border: 1px solid #FFA800 !important;
    color: white !important;
}


.medium img {
    filter : brightness(0%) invert(1);
}


.medium:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.low {
    background-color: #7AE229;
    border: 1px solid #7AE229 !important;
    color: white !important;
}


.low img {
    filter : brightness(0%) invert(1);
 }


.low:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.success {
    display: flex;
    width: 376px;
    height: 84px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    animation: slideInFromCenter 0.5s forwards; 
}

.success span {
    margin-right: 32px;
}

.addtaskSuccess {
    color: #FFF;
    line-height: 120%;
}

.successIcon {
    width: 30px;
    height: 30px;
    margin-left: 20px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#overlaySuccess {
    position: fixed; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}


@media (max-width: 1220px) {

    .addTask {
        padding-left: 36px;
        padding-right: 36px;
    }

    .dialogAddTask{
        padding: 16px 36px; 
    }
}

@media (max-width: 1195px) {

    .formInput {
        display: unset;
    }

    .divider {
        display: none;
    }


    .addTask, .dialogAddTask {
        align-items: center;
        justify-content: center;
        display: grid;
        height: unset;
    }

    .footArea {
        flex-direction: column;
        gap: 32px;
        align-items: center;
        padding-bottom: 128px;
    }

    .footAreaOverlay {
        flex-direction: column;
        gap: 32px;
        align-items: center;
        padding-bottom: 2px;
    }
}


@media (max-width: 990px) {

    .addTask {
        margin-left: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .dialogAddTask{
        padding: 16px;
        width:99%;
    }

    .taskOverlay{
        padding: 4px;
        margin: 2px;
    }
}


@media (max-width: 450px) {

    .formAddTask {
        width: calc(100vw - 32px );
    }


    .addTask {
        margin-left: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .button-container button {
        font-size: 16px;
        line-height: 120%;
        gap: 4px;
    }

    .dialogAddTask{
        padding-left: 2px;
        padding-right: 2px;
    }

    .taskOverlay{
        padding: 1px;
        margin: 1px;
    }

    .contactLine {
        width: 80%;
    }

    #subtask, #newCategory {
        width: 80%;
    }

    .btnAddTask {
        width: 90%;
    }

    .activeBtn {
        font-size: 18px;
        font-weight: 400;
    }

}