body {
    font-family: 'inter';
}

.content {
    position: fixed;
    top: 80px;
    width: 80vw;
    bottom: 0;
    right: 0;
}

.board {
    background-color: #F6F7F8;
    margin: 0;
    height: 100%;
    padding: 0px 70px 0px 70px;
    overflow-x: hidden;
}

.boardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-top: 90px;
}

.boardHeadlineLeft {
    width: 180px;
    height: 80px;
    font-weight: 700;
    font-size: 70px;
}

.boardHeadlineRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.inputSearch {
    width: 230px;
    height: 36px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border-right: 1px solid #D1D1D1;
    outline: none;
}

.buttonSearch {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 46px;
    cursor: pointer;
}

.buttonAddTask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 150px;
    height: 65px;
    color: white;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.boardContent {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 30px;
    height: 89vh;
}

.contentBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 260px;
}

.progressContainerStatusHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    cursor: pointer;
}

.progressStatus {
    font-weight: 700;
    font-size: 21px;
}

.statusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    padding-top: 20px;
    padding-bottom: 35px;
    gap: 15px;
}


.todo {
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}