body {
    font-family: 'inter';
}

.content {
    height: calc(100vh - 96px);
    margin-top: 96px;
    margin-left: 232px;
    overflow-y: auto;
    background-color: #F6F7F8;
}

.board {
    background-color: #F6F7F8;
    margin: 0;
    padding: 0px 70px 0px 70px;
}

.boardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-top: 90px;
}

.boardHeadlineLeft {
    width: 180px;
    height: 80px;
    font-weight: 700;
    font-size: 70px;
}

.boardHeadlineRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.inputSearch {
    width: 230px;
    height: 36px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border-right: 1px solid #D1D1D1;
    outline: none;
}

.buttonSearch {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 46px;
    cursor: pointer;
}

.buttonAddTask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 150px;
    height: 65px;
    color: white;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.boardContent {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    margin-top: 70px;
}

.contentBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 260px;
    margin-bottom: 15px;
}

.progressContainerStatusHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    cursor: pointer;
}

.progressStatus {
    font-weight: 700;
    font-size: 21px;
}

.statusContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin-top: 20px;
    gap: 15px;
    overflow-y: auto;
}

.todo {
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 20px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 2px);
}


.noTaskDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background-color: #E7E7E7;
}

.rotated {
    transform: rotate(5deg);
}

.todoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.todoType {
    border-radius: 8px;
    padding: 4px 16px;
    background-color: blue;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color: white;
    font-size: 23px;
}

.todoInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.todoTitle {
    color: #2a3647;
    font-weight: 700;
}

.todoDescription {
    color: #a8a8a8;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.progress-bar {
    width: 0;
    height: 10px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: #4589FF;
    border-radius: 10px;
}

.subtask-container {
    margin-top: 16px;
}

.popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px 40px 48px 40px;
    background: #FFFFFF;
    width: 525px;
    height: calc(100vh - 100px);
    border-radius: 30px;
}

.close-btn {
    position: absolute;
    top: 36px;
    right: 36px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

.popup-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-info-container h2 {
    font-size: 61px;
    margin: 0;
}

.container-popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 232px;
}

.d-flex {
    display: flex;
}