body {
    /*height: 100vh;*/
    background: #F6F7F8;
}

.frame40 {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    top: 206px;
    position: absolute;
    right: 128px;
    left: 743px;
}

#contactTemplate {
    position: relative;
    overflow-y: auto;
    height: calc(100vh - 96px);
    top: 96px;

}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 73.2px */
}

.spanContacts {
    color: #2A3647;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 32.4px */
}

.frame97 {
    display: flex;
    width: 456px;
    height: calc(100vh - 96px);
    flex-shrink: 0;
    background: #ffffff;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    left: 232px;
}

.frame97::-webkit-scrollbar {
    width: 8px;
}

.frame97::-webkit-scrollbar-thumb {
    background-color: #D1D1D1;
    border-radius: 6px;
}

.frame97::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.contact-list {
    display: inline-flex;
    padding: 32px 24px;
    margin: 0 28px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 352px;
    top: 20px;
}

#newContact {
    display: flex;
    width: 352px;
    padding: 12px 0px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
    color: #ffffff;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 25.2px */
    cursor: pointer;
}

.frame112 {
    display: flex;
    padding: 17px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.frame119 {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.contact-name {
    display: flex;
    width: 304px;
    padding: 15px 24px;
    align-items: flex-start;
    gap: 35px;
    border-radius: 10px;
    background: #FFF;
}

.contact-name:hover,
.profile-badge:hover,
.contact-hover:hover {
    background: #F6F7F8;
    cursor: pointer;
}

.profile-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 45px;
    background: #ffffff;
}

.group9 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 14.4px */
}

.frame81 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.contactName {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.contactEmail {
    color: #007CEE;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

.frame99 {
    width: 24px;
    height: 100vh;
    flex-shrink: 0;
    position: absolute;
    right: -28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#floatingContact {
    gap: 21px;
    width: 650px;
    height: 364px;
    top: 357px;
    position: absolute;
    right: 128px;
    left: 743px;
}

.floatingContact {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.d-none {
    display: none;
}

.frame105 {
    display: flex;
    align-items: center;
    gap: 54px;
}

.frame79 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 114px;
    height: 114px;
    border-radius: 70px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 56.4px */
}

.frame104 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.frame81 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #000;
    font-family: Inter;
    font-size: 47px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 56.4px */
}

.frame204 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.deleteContact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.delete-icon {
    width: 24px;
    height: 24px;
}

.delete-edit-text {
    color: #2A3647;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

.frame108 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.deleteContact:hover .icon-edit path,
.deleteContact:hover .delete-edit-text {
    cursor: pointer;
    color: #29ABE2;
    fill: #29ABE2;
    font-weight: bold;
}

.frame108:hover .icon-edit path,
.frame108:hover .delete-edit-text {
    cursor: pointer;
    color: #29ABE2;
    fill: #29ABE2;
    font-weight: bold;
}


.frame160 {
    display: flex;
    align-items: center;
    gap: 59px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.frame101 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.frame102,
.frame103 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
}

.email {
    color: #007CEE;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 19.2px */
}

#floatingContact {
    /* Andere Stile... */
    transform: translateX(350%);
    /* Startposition (vollständig rechts) */
    transition: transform 0.4s ease-in-out;
    /* Animationseinstellung */
}

#floatingContact.show {
    transform: translateX(0);
    /* Endposition (standardmäßige Position) */
}

/* Styling overlay contact */

.overlay-addContact {
    display: flex;
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    background: #ffffff;
}

.frame194 {
    display: inline-flex;
    width: 371px;
    padding: 66px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    background: #2A3647;
    border-radius: 30px 0 0 30px;
}

#overlayAddContact {
    position: fixed;
    /* Position fixed macht das Element unabhängig vom Scrollen */
    top: 50%;
    /* Setzt das Element in die Mitte der Höhe des Fensters */
    right: 50%;
    /* Das Div startet jetzt in der Bildschirmmitte */
    transform: translateY(-50%) translateX(100%);
    /* Verschiebung um seine eigene Breite */
    max-width: 1212px;
    background-color: transparent;
    /* Beispielhintergrund, anpassen nach Bedarf */
    transition: right 9s ease-out;
    /* Transitionseffekt für die "right"-Eigenschaft mit einer Dauer von 9 Sekunden */
    z-index: 1000;
    /* Stellt sicher, dass es über anderen Inhalten liegt */
    justify-content: center;
    display: flex;
}

.capa2 {
    width: 55.6px;
    height: 66.483px;
    position: absolute;
    left: 46.904px;
    top: 154px;
}

.spanHeader {
    color: #ffffff;
    font-family: Inter;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 73.2px */
}

.spanText {
    color: #ffffff;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 32.4px */
}

.add-contact-text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    right: 48px;
    top: 137px;
}

.add-contact-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.frame14 {
    display: flex;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
}

.frame157 {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.text-field {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    border: none;
    padding: 0;
    outline: none;
}

::placeholder {
    color: #D1D1D1;
    opacity: 1;
    /* Firefox */
}

.frame27 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 400px;
    left: 742px;
}

.cancel-contact {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #ffffff;
}

.cancel-contact:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    cursor: pointer;
}

.cancel-contact:hover .cancel-svg-icon path {
    stroke: #29ABE2;
}

.cancel-contact:hover .cancel-btn-text {
    color: #29ABE2;
}

.cancel-btn-text {
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.create-contact {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    border: none;
}

.create-contact:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.save-contact {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #2A3647;
    border: none;
}

.save-contact:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.create-btn-text {
    color: #ffffff;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 25.2px */
}

.group13 {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    position: absolute;
    right: 550px;
    top: 204px;
}

.frame79_2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 70px;
    border: 3px solid #FFF;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.person-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 28px;
    top: 28px;
}

.close {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 56px;
    position: absolute;
    top: 48px;
    left: 1132px;
}

.frame73 {
    display: flex;
    width: 326px;
    height: 74px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.contactSuccess {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

#overlayCreatedContact {
    position: fixed;
    /* oder 'absolute', je nach Bedarf */
    left: 100%;
    /* Startet außerhalb des rechten Bildschirmrandes */
    top: 80%;
    /* oder einen anderen Wert, je nach Bedarf */
    transform: translateY(-50%);
    /* Vertikale Zentrierung */
    transition: left 1s ease;
    /* Animiert die 'left'-Eigenschaft */
}

#scrollBar {
    position: absolute;
    top: 64px;
    cursor: pointer;
    pointer-events: all;
}

#customScrollbarContainer {
    display: flex;
    justify-content: center;
}

.arrow-left-line {
    position: absolute;
    right: 24px;
    top: 140px;
    display: none;
    width: 37px;
    height: 37px;
    padding: 3px 2.5px 2px 2.5px;
    justify-content: center;
    align-items: center;
}

.arrow-left-line:hover {
    cursor: pointer;
    background: #D1D1D1;
    border-radius: 100%;
}

.parting-line {
    width: 354px;
}

/* media queries */

@media (max-width: 1250px) {
    .frame97 {
        width: 350px;
    }

    .contact-list {
        width: 250px;
        margin: 24px;
    }

    #newContact {
        width: 250px;
    }

    .frame40 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        top: 90px;
    }

    .frame40 h1 {
        margin-bottom: 0;
        font-size: 50px;
    }

    .header-line {
        rotate: 90deg;
    }

    .spanContacts {
        text-align: center;
    }

    #allContacts {
        display: contents;
    }

    .contact-name {
        width: 200px;
    }

    .frame105 {
        gap: 24px;
    }

    .frame79,
    .frame79_2 {
        width: 80px;
        height: 80px;
        font-size: 24px;
    }

    .frame81 {
        font-size: 32px;
    }

    #floatingContact {
        left: calc(743px - 80px);
    }

    .parting-line {
        width: 250px;
    }

    #overlayAddContact {
        max-width: 80%;
    }

    .overlay-addContact {
        max-width: 80%;
    }

    .frame194 {
        max-width: 20%;
    }

    .spanHeader {
        font-size: 40px;
    }

    .spanText {
        font-size: 20px;
    }

    .add-contact-text {
        width: 50%;
    }

    .frame14 {
        width: 78%;
    }

    .frame27 {
        left: 46%;
    }

    .capa2 {
        display: none;
    }

    .overlay-contact {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .group13 {
        right: 55%;
        top: 40%;
    }

    .frame79,
    .frame79_2 {
        width: 100px;
        height: 100px;
    }

    .close {
        left: 85%;
    }

    .person-icon {
        left: 20px;
        top: 20px;
    }

    .frame157 {
        gap: 90px;
    }
}

@media (max-width: 990px) {
    .frame97 {
        left: 0;
        width: 100vw;
        justify-content: center;
    }

    .frame40 {
        display: none;
    }

    .floatingContact {
        display: none;
    }

    #newContact {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 120px;
        right: 20px;
    }

    .new-contact,
    .close {
        display: none;
    }

    .overlay-addContact {
        rotate: 90deg;
        min-width: 90%;
        width: 1000px;
    }

    .frame209 {
        rotate: -90deg;
    }

    .add-contact-text {
        top: 210px;
        right: 19%;
        align-items: center;
    }

    #overlayAddContact {
        width: 60%;
    }

    .frame27 {
        top: 500px;
        left: 35%;
    }

    #frame27 {
        top: 500px;
        left: 38%;
        flex-direction: column;
    }

    .create-btn-text,
    .cancel-btn-text {
        display: unset;
    }

    .create-contact {
        height: 16px;
        padding: 24px;
    }

    .save-contact {
        height: 16px;
        padding: 16px;
    }

    .cancel-contact {
        height: 14px;
        padding: 22px;
    }

    .group13 {
        top: 77px;
        right: 43%;
        display: unset;
    }

    .frame14 {
        width: 60%;
    }

    .frame157 {
        gap: 16px;
    }

    #overlayCreatedContact {
        left: 50%;
        /* Horizontale Zentrierung im Viewport */
        top: 100%;
        /* Startet außerhalb des unteren Bildschirmrandes */
        transform: translateX(-50%);
        /* Zentriert das Overlay horizontal */
        transition: top 1s ease;
        /* Animiert nun die 'top'-Eigenschaft */
    }

    .frame97 {
        top: -80px;
    }
}

@media (max-width: 700px) {
    .overlay-addContact {
        height: 500px;
    }

    .group13 {
        top: 24px;
    }
}

@media (max-width: 550px) {
    .frame40 h1 {
        font-size: 40px;
    }

    .spanContacts {
        font-size: 20px;
    }

    .overlay-addContact {
        height: 390px;
        width: 900px;
    }

    .group13 {
        top: -7px;
    }

    .frame79_2 {
        width: 80px;
        height: 80px;
        top: 16px;
        position: absolute;
    }

    .person-icon {
        width: 48px;
        height: 48px;
        left: 16px;
        top: 16px;
    }

    #frame27 {
        top: 430px;
    }

    .add-contact-text {
        top: 160px;
    }
}

@media (max-width: 405px) {
    .frame119 {
        width: 300px;
    }

    #allContacts {
        margin-left: 48px;
    }

    .frame81 {
        font-size: 24px;
    }

    .delete-edit-text {
        font-size: 12px;
    }

    .delete-edit-text {
        font-size: 12px;
    }

    .icon-edit {
        height: 16px;
    }

    .overlay-addContact {
        height: 310px;
        width: 570px;
    }

    .frame79,
    .frame79_2 {
        width: 50px;
        height: 50px;
        top: 40px;
    }

    .group13 {
        right: 35%;
    }

    .add-contact-text {
        right: 13%;
        top: 100px;
        gap: 16px;
    }

    .text-field {
        font-size: 16px;
    }

    .frame27 {
        top: 296px;
        left: 30%;
    }

    .cancel-btn-text,
    .create-btn-text {
        font-size: 16px;
    }

    .create-contact {
        height: 12px;
        padding: 19px;
    }

    .save-contact {
        padding: 14px;
    }

    .cancel-contact {
        height: 10px;
        padding: 17px;
    }

    .frame14 {
        width: 56%;
    }

    #frame27 {
        top: 375px;
    }

    .frame157 {
        gap: 30px;
    }

    .spanHeader {
        font-size: 25px;
    }

    .spanText {
        font-size: 16px;
    }
    .frame14 {
        padding: 8px 21px;
    }

    .phone-icon {
        height: 20px;
    }

    .frame209 {
        height: 200px;
        width: 150px;
    }

    .person-icon {
        width: 37px;
        height: 26px;
        left: 6px;
        top: 12px;
    }

    .frame194 {
        max-width: 12%;
    }

    #frame27 {
        top: 268px;
        left: 32%;
        gap: 12px;
    }

    #floatingContact {
        top: 190px !important;
    }
}