body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.sidebar {
    display: flex;
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
    position: fixed;
    color: white;
    top: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;

}

.contentSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    gap: 90px;
    font-size: 16px;
}

.sidebarNavigation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebarbuttons {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.sidebarbuttons img {
    height: 24px;
    width: 30px;
    margin-right: 15px;
    margin-left: 50px;
}

.sidebarLinks {
    cursor: pointer;
}

/* media queries */

@media (max-width: 990px) {
    .sidebar {
        right: 0;
        top: unset;
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0;
    }

    .contentSidebar {
        flex-direction: row;
    }

    .sidebarNavigation {
        flex-direction: unset;
        justify-content: center;
    }

    .white-logo {
        display: none;
    }

    .sidebarLinks {
        display: none;
    }
}

@media (max-width: 650px) {
    .sidebarbuttons {
        flex-direction: column;
    }

    .sidebarbuttons:hover {
        background: #091931;
        border-radius: 8px;
        width: 90px;
    }

    .sidebarNavigation {
        justify-content: space-around;
    }

    .sidebarbuttons img {
        margin-left: 0;
        margin-right: 0;
        margin-top: 16px;
    }

    p {
        margin-top: 8px;
        font-size: 14px;
    }

    .contentSidebar {
        display: unset;
    }
}