.content {
    height: calc(100vh - 96px);
    margin-top: 96px;
    margin-left: 232px;
    overflow-y: auto;
    background-color: #F6F7F8;
    font-family: 'Inter', sans-serif;
}

.headlineSummary {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    padding-left: 32px;
}

h1 {
    color: #000;
    font-size: 61px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 73.2px */
    margin-bottom: 8px;
}

.spanHeadline {
    color: #2A3647;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
}


.summary {
    display: flex;
    /* height: calc(100vh - 96px); */
    height: 75%;
    background-color: blanchedalmond;
    gap: 16px;
    padding: 8px 64px;
}

.left {
    background-color: aqua;
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.right {
    background-color: darksalmon;
}

.firstLine {
    background-color: blueviolet;
    display: flex;
    gap: 32px;
    width: 560px;

}

.secondLine {
    background-color: chartreuse;
    width: 560px;
}

.box {
    border: 1px solid var(--invalid-color);
    display: flex;
    height: 112px;
    padding: 28px 48px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    border-radius: 30px;
    background: var(--white, #FFF);
    /* nuevo */
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.twobox{
    width: 226px;
}

.threebox{
    width: 168px;
}

.thirdLine {
    background-color: cadetblue;
    width: 560px;
    display: flex;
    gap: 32px;
}