
body {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.content {
    height: calc(100vh - 96px);
    margin-top: 96px;
    margin-left: 232px;
    overflow-y: auto;
    background-color: #F6F7F8;
}


.headlineSummary {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    padding-left: 32px;
}


h1 {
    color: #000;
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 16px;
    line-height: 120%;
}


.spanHeadline {
    color: #2A3647;
    font-size: 27px;
}


.summary {
    display: flex;
    height: 75%;
    gap: 16px;
    padding: 8px 64px;
}


.left {
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}


.firstLine {
    display: flex;
    gap: 32px;
    width: 560px;
}


.secondLine {
    display: flex;
    width: 464px;
    height: 168px;
    padding: 28px 48px;
    justify-content: center;
    align-items: center;
    gap: 61px;
}


#urgentbox {
    display: flex;
    align-items: center;
    gap: 18px;
}


.iconurgent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}


.box {
    border: 1px solid var(--invalid-color);
    border-radius: 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: #000;
}


.box span {
    color: #2A3647;
    text-align: center;
}


.box.hover span {
    color: #fff;
}


.box:hover {
    display: flex;
    padding: 38px 19px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    background-color: #2A3647;
    color: #fff;
}


.number {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    line-height: 120%;
}


.upcoming {
    color: #2A3647;
    font-weight: 700;
    line-height: 120%;
}

.upcoming span {
    color: #2A3647;
    font-size: 16px;
    line-height: 120%;
}


.d-flex {
    display: flex;
    flex-direction: column;
}


.twobox {
    display: flex;
    width: 226px;
    height: 92px;
    padding: 38px 19px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
}

.threebox {
    display: flex;
    width: 168px;
    height: 118px;
    padding: 25px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
}


.thirdLine {
    width: 560px;
    display: flex;
    gap: 32px;
}


.right {
        height: calc(100vh - 160px);
        background-color: #ffffff;
        color: rgb(42, 54, 71);
        padding: 10px;
}

.right h3 {
    font-size: 36px;
    font-weight: 400;
}
.right h2 {
    font-size: 47px;
    font-weight: 700;
    color: #29ABE2;
    text-transform: capitalize;
}