<!--
    It is important to Import these class
        <link rel="stylesheet" href="../../css/header.css">
-->


<header>
    <div class="header">
        <h2 class="headerH2">Kanban Project Management Tool</h2>
        <div class="headerContent">
	        <img src="../assets/img/help.svg" alt="Help" onclick="location.href='../../join/html/help.html'">
            <div id="profileInitials">
                <img src="../assets/img/profile_logo.svg" alt="Your Profile">
            </div>
        </div>
    </div>
</header>