<div class="sidebar">
    <div class="contentSidebar">
        <img class="white-logo" src="../assets/img/join_logo_white.png" alt="Join" onclick="location.href='logIn.html'">
        <div class="sidebarNavigation">
            <div class="sidebarbuttons" onclick="location.href='summary.html'">
                <img src="../assets/img/iconsummary.svg" alt="Summary">
                <p>Summary</p>
            </div>
            <div class="sidebarbuttons" onclick="location.href='add_task.html'">
                <img src="../assets/img/icon_add_task.svg" alt="">
                <p>Add Task</p>
            </div>
            <div class="sidebarbuttons" onclick="location.href='board.html'">
                <img src="../assets/img/iconboard.svg" alt="Board">
                <p>Board</p>
            </div>
            <div class="sidebarbuttons" onclick="location.href='contacts.html'">
                <img src="../assets/img/contact.svg" alt="Contacts">
                <p>Contacts</p>
            </div>
        </div>

        <div>
            <div class="sidebarLinks" onclick="location.href='data_protection.html'">
                <p>Privacy Policy</p>
            </div>
            <div class="sidebarLinks" onclick="location.href='legal_notice.html'">
                Legal Notice
            </div>
        </div>
    </div>
</div>